
{% extends "Esqueleto.html" %}

{% load static %}

<!-- barra de accesos -->

{% block Nav_Editable %}
<a class="btn btn-primary" href="{% url 'Ventas_Site' %}">VENTAS</a>
<a class="btn btn-primary" href="{% url 'Colaborador_site' %}">PERSONAL</a>
<a class="btn btn-primary" href="{% url 'Clientes_site' %}">CLIENTES</a>
<a class="btn btn-primary" href="{% url 'Producto_site' %}">PRODUCTOS</a>
{% endblock %}

<!-- Titulo-->

{% block titulo %}
<h1 class="mb-5"> SECCIÓN DE REGISTRO </h1>
{% endblock %}

{% block contenido_que_cambia %}
<center><h1> ¡ Registrar Cliente ! </h1> </center>   
<p></p> 
<p></p>
    <form action="{% url 'Clientes_site' %}" method="POST">{% csrf_token %}
        <center> 
            <table class="table table-primary">
                
                {{ClienteForm.as_table}}
                
            </table>

            <p></p>
            <input type="submit" value="Enviar registro">
        </center> 
    </form>
                <center>
                    <p>


                    </p>
                    <hr> </hr>
                    <h1> ¡ Lista de clientes! </h1>  
                    <div id="main-container-tabla">
                            
                    <table class="table teble-primary" style="width: 80%;">
                        <thead>
                            <tr>
                                <th scope="row" style="background-color: rgb(115, 115, 115); border-radius: 2px;">Nombre</th>
                                <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">Apellido</th>
                                <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">DNI</th>
                                <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">BARBERO ASIGNADO</th>
                                <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">FECHA</th>
                                <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">MODIFICAR</th>
                            </tr>
                        </thead>  
                         
                        <tbody>
            
                            {%for Cliente in clientes  %}
                            <tr>
                            <th scope="row">{{ Cliente.nombre }}</th>
                            <td>{{ Cliente.apellido }}</td>
                            <td>{{ Cliente.dni }}</td>
                            <td>{{ Cliente.asignado_a}}</td>
                            <td>{{ Cliente.fecha_registro}}</td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'eliminar_cliente' Cliente.id %}" style="width: 8px;font-size: smaller;">x</a>
                            <a class="btn btn-success" href="{% url 'editarCliente' Cliente.id %}" style="width: 8px;font-size: smaller;">o</a>
                            </td>
                            
                            {% endfor %} 
            
                        </tbody>
                    </table>
                </center>          
            </div>  

{% endblock %}