
{% extends "Esqueleto.html" %}

{% load static %}

<!-- barra de accesos -->

{% block Nav_Editable %}
<a class="btn btn-primary" href="{% url 'Ventas_Site' %}">VENTAS</a>
<a class="btn btn-primary" href="{% url 'Colaborador_site' %}">PERSONAL</a>
<a class="btn btn-primary" href="{% url 'Clientes_site' %}">CLIENTES</a>
<a class="btn btn-primary" href="{% url 'Producto_site' %}">PRODUCTOS</a>
{% endblock %}

<!-- Titulo-->

{% block titulo %}
<h1 class="mb-5">BIENVENIDOS A LA SECCION COLABORADORES </h1>
{% endblock %}

{% block contenido_que_cambia %}
<center> 
    <h1> INGRESO DE COLABORADORES  </h1>    
    <h1 class="mb-5">{{mensaje}}</h1>
 
    <form action="{% url 'Colaborador_site' %}" method="POST">{% csrf_token %}
        
        <table class="table table-primary" style="width: 50%;">

            {{form_colaborador.as_table}}

        </table>
        
        <input type="submit" value="Guardar Colaborador">

    </form>

    <div id="main-container-tabla">

        <table class="table teble-primary" style="width: 90%;">
            <thead>
                <tr>
                    <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">Nombre </th>
                    <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">Apellido</th>
                    <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">DNI</th>
                    <th scope="col" style="background-color: rgb(115, 115, 115); border-radius: 2px;">Cargo</th
                </tr>
            </thead>  


    <hr> </hr>
            <tbody>

                {%for Colaborador in colaboradores  %}
                <tr>
                <th scope="row">{{ Colaborador.nombre }}</th>
                <td>{{ Colaborador.apellido }}</td>
                <td>{{ Colaborador.dni }}</td>
                <td>{{ Colaborador.cargo }}</td>
                {% endfor %} 

            </tbody>
        </table>          
    </div>
</center> 

{% endblock %}